<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Unicode Print{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/materialize.min.css">
</head>

<body>
    <nav class="nav-wrapper teal">
        <div class="container">
            <a href="/" class="brand-logo">Unicode Print</a>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="/static/materialize.min.js"></script>
    {% block js %}
    <script>
        M.AutoInit();
    </script>
    {% endblock %}
</body>

</html>