{% extends "base.html" %}

{% block content %}
    <h1>Unicode Print</h1>
    <p>
        Just a small service to test unicode character, here the url : <code>/u/[hexa unicode point]?sep=[separator string]</code>
        <br>
        It's return a UTF-8 plain text, an <a href="{{ ex_url }}">example</a> with halloween emoji.
    </p>
{% endblock %}